@import "../../../../../sass/variables";

.classroom-list-container {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .classroom-list-title {
        padding: 0.5em 1em;
    }

    .classroom-list-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        background-color: #ffffff;
        padding: 1em 2em;
        border-radius: 30px;
        min-height: 80%;

        .classroom-list {
            display: flex;
            flex: 1;
            min-height: 5em;
            justify-content: center;
            align-items: center;

            .classroom {
                min-width: 150px !important;
            }
        }

        td.id {
            width: 1.5em;
            font-family: $font-family-content-bold;
        }

        td.name {
            width: 10em;
        }
    }

    .classroom-list-actions {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        justify-content: space-around;

        button {
            margin: 5px 0;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .classroom-list-actions {
        flex-direction: row !important;
        justify-content: space-around !important;

        button {
            width: 45% !important;
        }
    }
}
