@import "../../../sass/variables";

// styles for custom table

.basic-table {
    font-size: $font-size-3;
    border-collapse: separate;
    border-spacing: 0 5px;
    table-layout: fixed;
    width: 100%;

    tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 275px;
        margin-right: 10px;

        tr {
            display: flex;
            width: 100%;
            border-radius: 10px;
            td {
                display: flex;
                align-items: center;
                font-family: $font-family-content;
                height: 20px;
                padding: 0.2em 0.5em;
                border-left: 2px solid $body-color-dark;
            }

            //disable border for first cell in a row
            td:first-child {
                padding: 0.2em;
                border: none;
            }

            td:first-child {
                font-family: $font-family-content-bold;
            }
        }

        .active {
            border: 10px;
            background-color: $body-color-accent;
        }
    }
}

//custom scrollbar

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $body-color-light;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $body-color-accent;
    border-radius: 10px;
}
