@import "../../../sass/variables";

// styles for custom table

.table-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.sorting-table {
    flex: 1;
    font-size: $font-size-3;
    border-collapse: separate;
    border-spacing: 0 5px;
    table-layout: fixed;
    height: 100%;
    white-space: nowrap;

    thead {
        font-family: $font-family-content-bold;
        tr {
            display: flex;
            min-width: 100%;
            border-bottom: 2px solid $body-color-dark;

            th {
                display: flex;
                justify-content: space-between;
                align-self: center;
                position: sticky;
                min-height: 2.5em;
                padding: 0.2em 0.5em;

                .col-flex {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }

                .table-button {
                    margin-left: 0.5em;
                }
            }

            th:first-child {
                padding-left: 0.2em;
            }

            //pseudo-class responsible for creating spaced borders in hader
            th::after {
                content: "";
                position: absolute;
                top: 10%;
                bottom: 10%;
                right: -1px;
                border-left: 2px solid $body-color-dark;
            }

            //disable creation of last border
            th:last-child:after {
                display: none;
            }
        }
    }

    tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 10px;
        height: 100%;

        tr {
            display: flex;
            width: 100%;
            border-radius: 10px;
            td {
                font-family: $font-family-content;
                height: 20px;
                padding: 2px 5px;
                border-left: 2px solid $body-color-dark;
            }

            //disable border for first cell in a row
            td:first-child {
                border: none;
            }
        }

        .active {
            border: 10px;
            background-color: $body-color-accent;
        }
    }
}

//custom input field

.table-search {
    display: flex;
    justify-content: center;
    width: 50%;

    .guac-table-input {
        width: 100%;
        height: 1.5em;
        border: none;
        border-bottom: 1px solid $body-color-dark;
        background-color: transparent;
    }

    .guac-table-input:hover {
        border-bottom: 2px solid $body-color-dark;
    }

    .guac-table-input:active,
    .guac-table-input:focus {
        border: none;
        box-shadow: none;
        outline: none;
        border-bottom: 2px solid $body-color-dark;
        font-size: $font-size-4;
        font-family: $font-family-content;
    }
}

//custom scrollbar

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-track {
    background-color: $body-color-light;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $body-color-accent;
    border-radius: 10px;
}
