// Body
$body-light: #F3F2ED;
$body-dark: #2B272A;
$body-accent:#EDFFA9;


// Typography
$font-family-title: 'Raleway', sans-serif;
$font-family-content: 'Inter', arial;

$font-size-1: 2.5rem;
$font-size-2: 2rem;
$font-size-3: 1rem;

$font-light: #F3F2ED;
$font-dark: #2B272A;
$font-accent:#EDFFA9;

