@import "../../../../sass/variables";

.login {
    display: flex;

    height: 100vh;
}

.login-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $body-color-light;
}
