.student-list-container {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .student-list-title {
        padding: 0.5em 1em;
    }

    .student-list-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        padding: 0.5em 2em;
        border-radius: 30px;
        width: 90%;

        .id {
            width: 10%;
        }

        .username {
            width: 40%;
        }

        .group {
            width: 50%;
        }
    }

    .student-list-actions {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
}
