@import "../../../../../sass/variables";

.overlay {
    position: absolute;
    z-index: 2;
    background-color: $body-color-dark;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.reservation-details-container {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-details {
    z-index: 3;
    opacity: 1;
    background-color: $body-color-light;
    border-radius: 30px;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $body-color-dark;

    .detail-group {
        width: 100%;
        margin: 0.2em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .detail-label {
            font-family: $font-family-content;
            font-size: $font-size-4;
            font-weight: $font-weight-regular;
        }

        .detail-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .detail {
                font-family: $font-family-content;
                font-size: $font-size-2;
                border-bottom: 1px solid $body-color-light;
                color: rgba(0, 0, 0, 0.38);

                div,
                input,
                fieldset {
                    height: 2em;
                    font-size: $font-size-2;
                    border: none;
                    align-items: center;
                    justify-content: center;
                    cursor: default;
                }

                .time-range-picker {
                    display: flex;
                    align-items: center;

                    input {
                        width: 100px;
                    }

                    span {
                        padding: 0.5em;
                        font-family: $font-family-title;
                        font-size: $font-size-2;
                    }
                }
            }

            .static {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2em;
                padding: 16.5px 14px;
                border-bottom: 1px solid $body-color-light;
            }

            .edit {
                color: $body-color-dark;
                border-bottom: 1px solid $body-color-dark;
                input {
                    cursor: text;
                }

                input::placeholder {
                    opacity: 1;
                    color: $body-color-dark !important;
                }
            }

            .edit-select {
                width: 50%;
                border-bottom: 1px solid $body-color-dark;
                input {
                    cursor: text;
                }

                input::placeholder {
                    opacity: 0.8;
                }
            }
        }
    }

    .panel-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }

    .panel-list-container {
        display: flex;
        flex-direction: column;
        font-size: $font-size-3;
        font-family: $font-family-content;

        .panel-list-title {
            font-size: $font-size-2;
            font-family: $font-family-title-bold;
            color: $body-color-dark;
            margin-top: 0.3em;
        }

        .panel-list {
            background-color: #ffffff;
            padding: 1em 2em;
            margin: 1em 0;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .reservation-access-list-actions {
            display: flex;
            padding-top: 1em;
            padding-bottom: 0.5em;

            button {
                margin-right: 2em;
            }
        }
    }

    .panel-actions {
        padding-top: 1em;
        display: flex;
        justify-content: space-between;
    }
}

input,
fieldset,
div {
    border: none;
}
