.reserved-list-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .reserved-list-title {
        padding: 0.5em 1em;
    }

    .reserved-list-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 0.5em 2em;
        border-radius: 30px;
        width: 90%;
        min-height: 80%;

        .reserved-list {
            display: flex;
            flex: 1;
            min-height: 10em;
            justify-content: center;
            align-items: center;

            // Table cells styles

            th.time,
            td.time {
                width: 20%;
            }

            th.instructor,
            td.instructor {
                width: 20%;
            }

            th.class,
            td.class {
                width: 15%;
            }

            th.classroom,
            td.classroom {
                width: 15%;
            }

            th.name,
            td.name {
                width: 30%;
            }
        }
    }

    .reserved-list-actions {
        display: flex;
        justify-content: space-between;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
}
