.connection-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    .connection-list-title {
        padding: 0.5em 1em;
    }

    .connection-list-panel {
        width: 50%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        padding: 0.5em 1em;
        border-radius: 30px;

        .connection-list {
            [class~="classRoom.id"] {
                width: 10% !important;
            }
            [class~="classRoom.name"] {
                width: 40% !important;
            }
            [class~="user.username"] {
                width: 50% !important;
            }
        }
    }
}
