@import "../../../../sass/variables";

.lessons {
    display: flex;
    height: 100vh;
}

.lessons-container {
    padding: 70px;
    flex: 6;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    background-color: $body-color-light;

    .title {
        font-family: $font-family-title-bold;
        font-size: $font-size-2;
    }
}
